.formContainer {
  margin: 80px auto;
  max-width: 600px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formTitle {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.formField {
  margin-bottom: 16px;
}

.submitButton {
  align-self: center;
  margin-top: 20px;
}